.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  width: 100%;
  height: 100%;
  position: relative;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 50px 20px 50px ;
  box-sizing: border-box;
  background-color: #daebed;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo{
  font-size: 30px;
  text-transform: uppercase;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  font-size: 14px;
  margin-left: 15px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.fa{
  margin-left: 15px;
  cursor: pointer;
}

.main-content{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

h3{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 10.5vw;
  color: #a6cdcd;
  letter-spacing: 1px;
}

.card{
  width: 30%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: scale(.8);
  transition: all .3s ease-in-out;
  margin-bottom: 50px;

}

.card-img{
  margin-top: -5vw;

}
img{
  width: 300px;
}

.card-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:  0;
}
h2{
  font-size: 30px;
}
p{
  font-size: 20px;
  margin: 0;
}

.price{
  font-size: 30px;
  color: #6cdcd6;
}
span{
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}

.card:hover{
  background-color: #eeedec;
  transform: scale(1.1);
  cursor: pointer;
}
.btn:hover{
  background-color: #688f4e;
  transform: scale(1.1);
  cursor: pointer;
}
.btn{
  background-color: #b1d182;
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
}

.footer{
  display: flex;

  justify-content: space-between;
  font-size: 15px;
  
}

p{
  display: flex;
  align-items: center;
  font-size: 15px;
  
}

.socail-fa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid #282c34;
  
}

.socail-fa:hover{
  background-color: #eeedec;
  transform: scale(1.1);
  cursor: pointer;

}
